# Prerequisites
**/__pycache__/
*.pyc
backend/venv/

# Local env files
.env
.env.local
backend/.env

# Node.js
frontend/node_modules/
frontend/.next/
frontend/out/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Local Dev scripts
start-dev.bat
dev.bat

# Large datasets & Assets
RAVEN-10000/
Latihan*.csv
*.pdf
tmp/
frontend/public/images/figural/
